// Variables
$tan-color: #eae8dc;
$tan-d-color: #ddd9c6;
$tan-l-color: #fff;
$tan-border-color: #bbb8a4;

$font-color: #3a220d;
$font-l-color: #555;

$blue-color: #64bdcb;
$blue-d-color: #33838f;
$blue-l-color: #9ed5de;

$drop-d-color: rgba(0, 0, 0, .05);
$drop-l-color: rgba(255, 255, 255, .4);

// Extends & Mixins
.helvetica {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

.thumbnail {
	padding: 10px;
	background-color: $tan-l-color;
	display: block;
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
	}
}

.drop-shadow {
	box-shadow: 0 0 10px 2px $drop-d-color;
}

// General
* {
	box-sizing: border-box;
}

html, body {
	background-color: $tan-color;
	color: $font-color;
	font-family: 'Georgia', serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
